body {
  margin: 0px;
  padding: 0px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 80vw;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: #9c27b0;
  height: 50px;
  font-family: sans-serif;
  color: white;
}

#grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 2px darkgrey;
  width: 200px;
  height: 200px;
}

.card:hover {
  background-color: rgb(231, 231, 231);
}

p {
  color: #d05ce3;
}

.imgCard {
  width: 180px;
  height: 180px;
}

#imgHeader {
  width: 20px;
}

.hide {
  display: none;
}

#skills {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nameHome{

 width: 150px;
 height: 100px;

}